/* App.css */
/* Common styles for titles */
.title h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 35px;
  margin-bottom: 35px; /* Add margin to separate from other elements */
}

/* Sub-title styles */
.sub-title h2 {
  font-size: 30px;
  font-weight: bold; /* Use 'font-weight' instead of 'font' */
  margin: 0; /* Add margin to separate from other elements */
}

/* Sub-div styles */
.sub-div {
  height: 64px;
  background-color: green;
}

/* Background color styles */
.orange-bg {
  background-color: #F46036;
  color: white;
}

body{
  background: #F46036;
  
}

.gray-bg {
  background-color: #084C61;
  color: #F46036;
}

/* Scrollable list styles */
.scrollable-list {
  height: 130px;
  width: 330px;
  margin: 0 auto; /* Center the list horizontally */
  overflow-y: auto; /* Enable vertical scrollbar when content exceeds height */
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
}

.scrollable-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scrollable-list li {
  padding: 17px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  font-weight: bold; /* Use 'font-weight' instead of 'font' */
  cursor: pointer; /* Add cursor pointer to indicate interactivity */
}

.scrollable-list li:hover {
  color: #481D24;
}

/* Main container styles */
.main {
  min-height: 430px;
  width: 330px;
  border: 1px solid grey;
  margin: 0 auto; /* Center the container horizontally */
  border-radius: 10px;
  padding: 0;
  background: #481D24;
}

/* Mid container styles */
.mid {
  min-height: 300px;
  color: white;
  padding-left: 20px;
}

/* Icon styles */
.icon2 {
  font-size: 28px;
  
  color: #481D24;
}
.icon{
  font-size: 28px;
  padding-left: 10px;
  color: #481D24;
}

.icon:hover {
  color: #F46036;
}
.icon2:hover {
  color: #F46036;
}

/* One container styles */
.main .one {
  height: 64px;
  background: #084C61;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center; /* Vertically center the content */
}

.one h1 {
  margin: 0;
  color: white;
  font-size: 27px;
  margin-left: 20px; /* Add left margin for space between icon and title */
}

/* Two container styles */
.main .two {
  height: 64px;
  background: #084C61;
  border-radius: 0 0 10px 10px; /* Apply border radius only to bottom */
  display: flex;
 padding-left: 20px;
  align-items: center; 
}

/* EditRecipeModal.css */
.cancle {
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #616196;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: 400px;
}

.modal-content h2 {
  margin-top: 0;
  color: white;
}

.modal-content label {
  margin-top: 10px;
  display: block;
  color: white;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #556670;
  color: #042732;
}

.modal-content button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* CSS Media Queries */
@media screen and (min-width: 400px) and (max-width: 600px) {
  .scrollable-list,
  .main {
    width: 400px;
  }
  .scrollable-list{
    width: 400px;
  }
  .one h1 {
   
    color: white;
    font-size: 32px;
    margin-left: 20px; /* Add left margin for space between icon and title */
  }
  .icon2 {
    font-size: 32px;
    
    color: #481D24;
  }
  .icon{
    font-size: 32px;
    padding-left: 10px;
    color: #481D24;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .scrollable-list,
  .main {
    width: 500px;
  }
}

@media screen and (min-width: 901px) {
  .scrollable-list,
  .main {
    width: 800px;
  }
}

@media screen and (min-width: 1301px) {
  .scrollable-list,
  .main {
    width: 900px;
  }
}
